node_modules/
testDB/000033.log
testDB/000033.log
testDB/000039.log
testDB/LOG
testDB/CURRENT
testDB/MANIFEST-000038
testDB/MANIFEST-000032
testDB/LOG.old
testDB/LOG
testDB/CURRENT
*.log
*.js
*.log
testDB/000033.log
testDB
*.old
*.js
*.list
